html, body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    height: 100%;
    width: 100%;
  }
  
  ol, ul {
    padding: 0px 0px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    height: 270px;
  }

  li{
    height: 20%;
    margin: 0px 4px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    height: 45px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 45px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #988;
  }
  
  /* .container{
    position: relative;
  } */
  .rootOfGame{
    position: relative;
  }

  .game {
    top: -130px;
    left: 130px;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  #container{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .status{
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
      position: relative;
      left: 49px;
      text-align: center;
  }
  
  .move{
      padding: 10px;
      border-radius: 15px;
      margin-bottom: 10px;
      outline: none;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      background: #f8f8e8;
      border: 2px solid #d4b28e;
      width: 180px;
      height: 50px;
  }

  .move.active {
    background: #fffc73;
    border: 2px solid #e5b656;
  }

  .border-row > .colorClass{
    border: 4px solid #a7ffa7;
    background: #382808;
    color: #ff9999;
  }

  .border-row > .colorClass {
    animation-duration: 600ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 @keyframes blink {
    from {
       opacity: 1;
    }
    to {
       opacity: 0.2;
    }
  }
